<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Membership Site</title>
  </head>
  <body>
    <br/>
    <div class="container">
    {% if messages %}
      {% for message in messages %}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        
      {% endfor %}
    {% endif %}
    
    <br/><br/>
    
    {% block content%}
    {% endblock %}
  </div>
  </body>
</html>